.Game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GameNoRoundsText {
  font-style: italic;
  margin: 0;
  font-weight: lighter;
}

.GameActions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.GameCurrentRound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.GameLastRounds {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.GameThereIsNoActiveGameContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}